body {
  font-family: "Roboto", "sans-serif";
  margin: 0px;
  background: #e5e7ebbf;
}

.container {
  display: flex;
  width: 800px;
  margin: auto;
}

.choices {
  align-items: center;
  justify-content: center;
  gap: 18px;
  height: 125px;
}

.result {
  font-size: 22px;
  height: 24px;
  text-align: center;
  font-weight: 300;
}

.title {
  text-align: center;
  font-size: 32px;
  font-weight: 900;
  padding: 24px 0px 24px 0px;
}

.scores {
  justify-content: space-evenly;
  align-items: center;
  font-size: 48px;
}

.scorecard {
  width: 200px;
  height: 100%;
  text-align: center;
}

.score {
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

button {
  padding: 8px 24px;
  border-radius: 8px;
  border-color: royalblue;
  color: white;
  font-size: 38px;
  background-color: royalblue;
  width: 140px;
}
